@import './variables.scss';

button{
    border: none;
    color: black;
    font-family: inherit;
    padding: 5px 0;
    border-radius: 5px;

    &:hover{
        cursor: pointer;
    }
    &:focus{
        outline: none;
    }
}

input{
    border: none;
    border-bottom: 2px solid $gray;
    font-family: inherit;
    min-width: 0;

    &:hover{
        border-bottom: 2px solid rgb(107, 143, 143);
    }
    &:focus{
        outline: none;
        border-bottom: 2px solid cyan;
    }
}