@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap');
@import './variables.scss';

html, body, #root{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden;

    // *{border: 1px solid $light-gray;}

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .page{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: linear-gradient(
            180deg, $super-light-gray 70%, $main-theme-color-extreme-light
        );
        // background-color: $super-light-gray;
    
        .page-content{
            display: flex;
            flex: 1;
            overflow: auto;
            padding: 30px;
        }
    }

    *::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background: none;
        scroll-behavior: smooth;
    }
    *::-webkit-scrollbar-track{
        // background-color: $extra-light-gray;
        // border-radius: 5px;
    }
    *::-webkit-scrollbar-thumb:hover {
        background-color: $gray;
        // background: linear-gradient(to bottom, rgb(0, 86, 216), rgb(255, 44, 255));
    }
    *::-webkit-scrollbar-thumb {
        background-color: $extra-light-gray;
        border-radius: 5px;
    }
}

.transition-group{
    position: relative;
    width: 100%;
    height: 100%;

    .fade-enter{
        opacity: 0;
        // transform: translateX(100%);
    }
    
    .fade-enter-active{
        opacity: 1;
        transition: all 1s ease;
        // transform: translateX(0%);
    }
    
    .fade-exit{
        opacity: 1;
        // transform: translateX(0%);
    }
    
    .fade-exit-active{
        opacity: 0;
        transition: all 1s ease;
        // transform: translateX(-100%);
    }
}



.top-action-bar{
    display: flex;
    position: relative;
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    // background: linear-gradient(to bottom, rgb(148, 148, 148), transparent);
    border-bottom: 1px solid $light-gray;
    background-color: $main-theme-color-light;

    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;

    .close-btn{
        display: flex;
        color: $main-theme-color-super-light;
        padding: 4px 7px;
        transition: 0.2s linear;

        &:hover{
            background: rgb(208, 0, 0);
            // background: linear-gradient(to bottom, red, transparent);
            color: white;
        }
    }
    .title{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        color: white;
        font-weight: lighter;
    }

    .clickable{
        -webkit-app-region: none;
        -webkit-user-select: auto;
    }
}

.popup{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;

    .top-bar{
        display: flex;
        justify-content: flex-end;

        .close-btn{
            color: $gray;
            cursor: pointer;

            &:hover{
                color: black;
            }
        }
    }
    .popup-level-image-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 4;
        font-size: 50px;

        &.level-0{color: $confirm-color;}
        &.level-1{color: $warning-color;}
        &.level-2{color: $error-color;}
    }
    .text-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 15px;
        margin: 8px 0;
        line-height: 18px;
        flex: 1;
    }
    .jsx-elements{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;
        // margin: 10px 0;
        // padding: 0 5px;

        & > *{
            width: 100%;
        }
        input{
            border: none;
            background: $extra-light-gray;
            padding: 5px 10px;
            box-sizing: border-box;
            color: black;
            border: 2px solid transparent;
            box-sizing: border-box;
            transition: 0.15s linear;
            border-radius: 5px;
            font-weight: bold;
            font-size: 14px;
            min-width: 10px;
            margin-top: 5px;

            &::placeholder{
                color: $dark-gray;
            }
            &:focus{
                background: white;
                border: 2px solid $main-theme-color;

                &::placeholder{
                    color: $gray;
                }
            }
        }
        button{
            margin-top: 5px;

            &.std{
                background: $main-theme-color;
                color: white;
            }
            &.danger{
                background: $error-color;
                color: white;
            }
        }
    }
    .button-container{
        display: flex;
        flex-direction: column;
        
        button{
            margin-top: 5px;
            transition: 0.15s linear;

            &.confirm{
                background-color: $main-theme-color;
                color: white;
            }

            &:hover{
                // background-color: $main-theme-color;
                // color: white;
            }
        }
    }    
    &.ask{
        .button-container{
            flex-direction: row;
            button{flex: 1; &:not(:last-child){margin-right: 5px;}}
        }
        .text-wrapper{
            font-weight: bold;
            font-size: 18px;
        }
    }
}

#login_page{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    // background: url("../img/login-bg.jpeg");

    .login-form{
        display: flex;
        flex-direction: column;

        border-radius: 15px;
        padding: 30px;
        box-sizing: border-box;
        
        width: 100%;
        max-height: 100%;

        background-color: rgb(255, 255, 255);
        box-shadow: $std-box-shadow;
        transition: 0.15s linear;

        .saved-accounts{
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .label{
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 15px;
            }
            .account-list{
                display: flex;
                flex-direction: column;
                flex: 1;
                overflow-y: auto;

                .account{
                    display: flex;
                    justify-content: space-between;
                    padding: 8px 10px;
                    cursor: pointer;
                    transition: 0.15s linear;
                    align-items: center;

                    &:not(:last-child){
                        border-bottom: 1px solid rgb(202, 202, 202);
                    }
                    &:hover{
                        background-color: $main-theme-color-most-light;
                    }
                    &.selected{
                        background-color: $main-theme-color;
                        color: white;
                    }
                    &.invalid{
                        .name{
                            color: rgb(197, 197, 197);
                        }
                    }

                    .icon{
                        display: flex;
                        align-items: center;
                        font-size: 15px;
                        flex: 1;
                    }
                    .name{
                        font-size: 15px;
                        margin-right: 5px;
                    }
                    .db-not-exists{
                        color: red;
                    }
                    .user-not-exists{
                        color: #edaa00;
                    }
                    .last-time{
                        font-size: 12px;
                        color: $gray;
                        font-weight: lighter;
                    }
                }
            }
        }
        .lower-input{
            display: flex;
            margin-top: 20px;
            transition: 0.15s linear;
            // justify-content: space-between;

            #name_input{
                margin-right: 10px;
            }
            #create_account_btn{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $light-gray;
                margin-left: 10px;
                border-radius: 10px;
                padding: 0 8px;
                cursor: pointer;
                transition: 0.15s linear;
                font-size: 18px;

                &:hover{
                    background-color: $main-theme-color-light;
                    color: white;
                }
                &.invisible{
                    display: none;
                }
            }
            input{
                flex: 1;
                border: none;
                background: $extra-light-gray;
                padding: 5px 10px;
                box-sizing: border-box;
                color: black;
                border: 2px solid transparent;
                box-sizing: border-box;
                transition: 0.15s linear;
                border-radius: 10px;
                font-weight: bold;
                font-size: 14px;
                min-width: 10px;

                &::placeholder{
                    color: $dark-gray;
                }
                &:focus{
                    background: white;
                    border: 2px solid $main-theme-color;

                    &::placeholder{
                        color: $gray;
                    }
                }
                &.invisible{
                    display: none;
                }
            }
        }
    }
}

#home_page{
    display: flex;
    transition: 0.3s ease;

    .container{
        box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.15);
        // border: 1px solid rgb(206, 206, 206);
        border-radius: 10px;
        height: 100%;
        overflow: hidden;
        background-color: white;
        transition: 0.3s ease;
    }
    .left-part{
        display: flex;
        flex-direction: column;
        min-width: 250px;
        width: 250px;
        margin-right: 20px;

        .menu-bar{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $light-gray;

            .tab{
                flex: 1;
                text-align: center;
                padding: 10px 0;
                transition: 0.2s linear;
                cursor: pointer;

                &:not(:last-child){
                    border-right: 1px solid $extra-light-gray;
                }
                &:hover{
                    background-color: $main-theme-color-extra-light;
                    color: white;
                }
                &.selected{
                    background-color: $main-theme-color;
                    color: white;
                }
            }
        }
        .content{
            display: flex;
            flex: 1;
            flex-direction: column;
            overflow: hidden;

            .navigator{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 7px 8px;
                font-size: 12px;

                .back-btn{
                    display: flex;
                    align-items: flex-end;
                    font-size: 12px;
                    cursor: pointer;
                    color: $gray;

                    &:hover{
                        color: black;
                    }
                }
            }
            .entries{
                display: flex;
                flex-direction: column;
                flex: 1;
                overflow-x: hidden;
                overflow-y: overlay;
                box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.226),
                    inset 0 -10px 10px -10px rgba(0, 0, 0, 0.226);

                .entry-item{
                    display: flex;
                    position: relative;
                    justify-content: space-between;
                    padding: 8px 10px;
                    box-sizing: border-box;
                    border-bottom: 1px solid $extra-light-gray;
                    align-items: flex-end;
                    cursor: pointer;
                    font-size: 13px;
                    transition: 0.2s linear;

                    .controller{
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        top: 0;
                        bottom: 0;
                        right: -50%;
                        transition: 0.3s ease;

                        & > *{
                            display: flex;
                            align-items: center;
                            height: 100%;
                            padding: 0 10px;
                            color: white;
                            transition: 0.15s linear;
                        }
                        .edit{
                            background-color: rgb(245, 188, 0);
                            &:hover{
                                background-color: rgb(216, 166, 0);
                            }
                        }
                        .del{
                            background-color: rgb(213, 35, 35);
                            &:hover{
                                background-color: rgb(163, 27, 27);
                            }
                        }
                        &.focus{
                            right: 0%;
                        }
                    }
                    .icon{
                        display: flex;
                        align-items: center;
                        margin-right: 5px;
                        color: $main-theme-color-super-light;
                    }
                    .name-cover{
                        display: flex;
                        align-items: flex-end;
                        flex: 1;
                    }
                    .name{
                        // font-weight: bold;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        &.folder{
                            max-width: 60%;
                        }
                        &:not(.folder){
                            flex: 1;
                        }
                    }
                    .count{
                        font-size: 10px;
                        color: $light-gray;
                        margin-left: 3px;
                        // margin-left: 10px;
                    }
                    &:hover{
                        background-color: $main-theme-color-most-light;
                        // .count{color: $gray};
                    }
                }
                .create{
                    display: flex;
                    justify-content: space-between;
                    box-sizing: border-box;
                    border-bottom: 1px solid $extra-light-gray;
                    align-items: flex-end;
                    cursor: pointer;
                    font-size: 14px;

                    .add{
                        width: 100%;
                        font-weight: normal;
                        color: $main-theme-color-light;
                        text-align: center;
                        padding: 8px 10px;
                        transition: 0.2s linear;

                        &:not(:last-child){
                            border-right: 1px solid $extra-light-gray;
                        }
                        &:hover{
                            background-color: $main-theme-color-most-light;
                        }
                    }
                }
            }
            .route-path{
                display: flex;
                width: 100%;
                font-weight: normal;
                font-size: 10px;
                overflow-x: auto;
                color: $main-theme-color-extra-light;

                .path-list{
                    display: flex;
                }

                .path-history{
                    display: flex;
                    padding: 5px 4px;
                    cursor: pointer;
                    white-space: nowrap;

                    &:not(:last-child){
                        padding: 5px 0px 5px 5px;
                    }
                    &:hover{
                        background-color: $main-theme-color;
                        color: white;
                    }
                    .arrow{
                        margin-left: 4px;
                    }
                }
            }
            .search-wrapper{
                display: flex;
                border-top: 1px solid $light-gray;
                align-items: center;

                input{
                    padding: 6px 0 6px 10px;
                    font-weight: lighter;
                    border: none;
                    flex: 1;

                    &:focus{
                        &+& .cancel-search-btn{
                            display: block;
                        }
                    }
                }
                .cancel-search-btn{
                    margin: 0 8px;
                    font-size: 15px;
                    color: $gray;
                    cursor: pointer;

                    &:hover{
                        color: black;
                    }
                }
                &:hover{
                    .cancel-search-btn{
                        display: block;
                    }
                }
            }
        }
    }
    .right-part{
        display: flex;
        flex-direction: column;
        padding: 25px;
        box-sizing: border-box;
        flex: 1;

        .info-container{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .item-path{
                font-size: 11px;
                color: $light-gray;
            }
            .item-summary{
                display: flex;
                // flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;
                width: 100%;
                padding: 8px 0;

                .item-name{
                    font-size: 28px;
                    font-weight: bold;
                }
                .item-representives{
                    font-size: 10px;
                    color: gray;
                    margin-left: 5px;
                }
            }
            .contents{
                display: flex;
                flex-direction: column;
                flex: 1;
                overflow-y: hidden;

                .main-content{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    background-color: white;
                    padding: 0 8px;
                    margin-top: 15px;
                    overflow-x: hidden;
                    overflow-y: auto;

                    .key-pair{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        margin-bottom: 15px;
                        box-shadow: 0 5px 8px 1px rgb(225, 225, 225);
                        padding: 15px 20px;
                        box-sizing: border-box;
                        transition: 0.2s linear;
                        font-size: 14px;
                        border-radius: 10px;
                        cursor: default;

                        &:hover{
                            box-shadow: 0 4px 8px 1px rgb(142, 201, 255);
                            .value-wrapper{
                                filter: blur(0);
                            }
                        }
                        &.add{
                            // font-weight: bold;
                            color: $main-theme-color-extra-light;
                            cursor: pointer;

                            & > *{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            .icon{
                                font-size: 15px;
                                margin-top: 1px;
                                margin-right: 1px;
                            }
                        }
                        .key{
                            display: flex;
                            align-items: center;
                            font-size: 15px;
                            font-weight: bold;
                            box-sizing: border-box;
                            overflow-x: hidden;
                            min-width: 50px;
                            min-height: 15px;

                            div{
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                        .value-wrapper{
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            flex: 1;
                            flex-shrink: 0;
                            white-space: nowrap;
                            color: gray;
                            filter: blur(5px);
                            transition: 0.5s linear;
                            font-weight: lighter;
                            margin-left: 10px;
                            overflow: hidden;
                            min-width: 50px;

                            div{
                                overflow-y: hidden;
                                overflow-x: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 650px){
        flex-direction: column;
        .left-part{
            width: 100%;
            height: 300px;
            margin-bottom: 15px;
            margin-right: 0;
        }
        .key-pair{
            padding: 10px 15px !important;
            margin-bottom: 10px !important;
            box-shadow: 0 3px 5px 1px rgb(240, 240, 240);
        }

        @media screen and (max-height: 650px){
            flex-direction: column;
            .left-part{
                height: 0;
            }
        }
    }
}